# venv folders
.venv/
.env

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

# manim artifacts
# media/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so